!tmp/README
tmp/*
!log/README
log/*
!robots/lock/README.md
robots/lock/*
bower_components
node_modules
config/secret_token.txt
public/dist
public/admin/dist
vendor/*
composer.lock
locale/*/LC_MESSAGES/application.mo
locale/*/LC_MESSAGES/atk14.mo
locale/*/LC_MESSAGES/vendor.mo
