#logo {
	background-color: black;
	height: 180px;
}

#logo span {
	display: block;
	height: 162px;
	width: 453px;
	background-image: url('../images/logo.png');
	font-size: 0px;
}

#row-login .nav {
	margin-bottom: 0;
}

.navbar-static-bottom {
	margin-bottom: 0;
}
.navbar-static-bottom .navbar-inner {
	border-radius: 0 0 0 0;
}
