#logo {
	background-color: black;
	height: 180px;
}

#logo span {
	display: block;
	height: 162px;
	width: 453px;
	background-image: url('../images/logo.png');
	font-size: 0px;
}

#row-login .nav {
	margin-bottom: 0;
}

.content {
	margin-bottom: 64px;
}
.body_news_detail article h1 {
	border-bottom-style: dotted;
}
.body_news_detail article header p {
	padding-bottom: 9px;
	border-bottom: 1px dotted #eee;
}
.pager {
	padding-top: 19px;
	border-top: 1px dotted #eee;
}
.body_news_detail h1 {
	margin-bottom: 10px;
}
.body_news_index article {
	padding: 20px 0 19px;
	border-bottom: 1px dotted #eee;
}
