@media screen {
  body[data-bs-theme="dark"] {

    $dark-medium-bg: $gray-700;

    // nav left
    .has-nav-section{
      .nav-section {
        background-color: #121212; //black;
        #nav-filter {
          border-color: var(--bs-border-color);
        }
        ul.nav {
          li.nav-item {
            a.nav-link:not(.active) {
              color: $gray-300;
              &:hover {
                color: white;
              }
            }
          }
        }
      }
    }

    // main navbar
    nav.navbar.navbar-dark {
      background-color: black !important;
    }

    // list groups
    .list-group {
      &-item {
        background-color: $dark;
        &:hover {
          //background-color: black;
        }
      }
    }

    .md-editor, .form-control-file, .custom-file-input, .drop-zone {
      background-color: var(--bs-body-bg);
      border-color: var(--bs-border-color);
      color: var(--bs-body-color);
    }

    /*.pickr .pcr-button {
      border-color: var(--bs-border-color);
      background-color: rgba(white,0.4);
    }*/

    .md-toolbar {
      background-color: $dark-medium-bg;
      border-color: var(--bs-border-color);
      .md-btn {
        background-color: inherit;
        color: white;
        border-color: $dark-medium-bg;
      }
    }

    // Better visibility for btn-outline-primary buttons on dark bg
    .btn-outline-primary:not(:hover) {
      $darkModeOUtlineBtn: lighten($primary, 15%);
      color: $darkModeOUtlineBtn;
      border-color: $darkModeOUtlineBtn;
    }
  }
}

// few small animations for smoother change. Class is added by JS temporarily for 1s after theme toggle
body.dark-mode-transition {
  &, .table, .table *, .nav-section, ol.breadcrumb, .list-group, .list-group-item, .form-control, textarea, .md-editor, .form-control-file, .custom-file-input, .progress, .drop-zone {
    transition: background-color 0.75s, border-color 0.75s;
  }
}
