@media screen {
  body.dark-mode {

    $dark-border-color: $gray-600;
    $dark-body-bg: $gray-900;
    $dark-input-bg: $gray-800;
    $dark-medium-bg: $gray-700;
    $dark-text-muted: $gray-500;
    $dark-primary-color: lighten( $primary, 15% );

    $table-dark-border-color: $dark-border-color;


    background-color: $dark-body-bg;
    color: white;

    a {
      color: $dark-primary-color
    }

    // tables
    .table {
      color: $table-dark-color;
      background-color: $table-dark-bg;
      border-color: $table-dark-border-color;

      th,
      td,
      thead th {
        border-color: $table-dark-border-color;
      }
  
      &.table-bordered {
        border: 0;
      }
    
      &.table-striped {
        tbody tr:nth-of-type(#{$table-striped-order}) {
          background-color: $table-dark-accent-bg;
        }
      }
    
      &.table-hover {
        tbody tr {
          @include hover() {
            color: $table-dark-hover-color;
            background-color: $table-dark-hover-bg;
          }
        }
      }
    }

    // nav left
    .has-nav-section{
      .nav-section {
        background-color: black;
        #nav-filter {
          border-color: $dark-border-color;
          #nav-filter__submit {
            color: $dark-primary-color;
          }
        }
        ul.nav {
          li.nav-item {
            a.nav-link:not(.active) {
              color: $gray-300;
              &:hover {
                color: white;
              }
            }
          }
        }
      }
    }

    // breadcrumb
    ol.breadcrumb {
      background-color: black;
      border-color: $dark-border-color;
    }

    // list groups
    .list-group {
      background-color: $table-dark-bg;
      .list-group-item {
        background-color: $table-dark-bg;
        border-color: $dark-border-color;
        .list-thumbnail {
          border-color: $dark-border-color;
        }
      }
    }

    // forms 
    form {
      .form-group {
        border-color: $dark-border-color;
        & > .help-block {
          color: $dark-text-muted !important;
        }
      }
      label {
        .tip {
          color: $dark-text-muted !important;
        }
      }
    }

    .form-control, textarea, .md-editor, .form-control-file, .custom-file-input {
      background-color: $dark-input-bg;
      border-color: $dark-border-color;
      color: white;
    }

    .md-toolbar {
      background-color: $dark-medium-bg;
      border-color: $dark-border-color;
      .md-btn {
        background-color: inherit;
        color: white;
        border-color: $dark-medium-bg;
      }
    }

    .img-thumbnail {
      background-color: $dark-input-bg;
      border-color: $dark-border-color;
    }

    // progress
    .progress {
      background-color: $dark-input-bg;
    }

    // pagination 
    .pagination {
      .page-item:not(.active){
        .page-link {
          background-color: $dark-input-bg;
          border-color: $dark-border-color;
          color: white;
        }
      }
    }

  }
}

