// form-inline taken from BS4
.form-inline {
  display: flex;
  flex-flow: row wrap;
  align-items: center; // Prevent shorter elements from growing to same height as others (e.g., small buttons growing to normal sized button height)

  // Because we use flex, the initial sizing of checkboxes is collapsed and
  // doesn't occupy the full-width (which is what we want for xs grid tier),
  // so we force that here.
  .form-check {
    width: 100%;
  }

  // Kick in the inline
  @include media-breakpoint-up(sm) {
    label {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 0;
    }

    // Inline-block all the things for "inline"
    .form-group {
      display: flex;
      flex: 0 0 auto;
      flex-flow: row wrap;
      align-items: center;
      margin-bottom: 0;
    }

    // Allow folks to *not* use `.form-group`
    .form-control {
      display: inline-block;
      width: auto; // Prevent labels from stacking above inputs in `.form-group`
      vertical-align: middle;
    }

    // Make static controls behave like regular ones
    .form-control-plaintext {
      display: inline-block;
    }

    .input-group,
    .custom-select {
      width: auto;
    }

    // Remove default margin on radios/checkboxes that were used for stacking, and
    // then undo the floating of radios and checkboxes to match.
    .form-check {
      display: flex;
      align-items: center;
      justify-content: center;
      width: auto;
      padding-left: 0;
    }
    .form-check-input {
      position: relative;
      flex-shrink: 0;
      margin-top: 0;
      //margin-right: $form-check-input-margin-x;
      margin-left: 0;
    }

    .custom-control {
      align-items: center;
      justify-content: center;
    }
    .custom-control-label {
      margin-bottom: 0;
    }
  }
}

// Some additional styling form elements

form {
	.form-group {
		> ul.list--radios, > ul.list--checkboxes {
			@extend .list-unstyled;
			margin-bottom: 0;
		}
		> .feedback {
			margin-top: 0.1rem;
			ul {
				@extend .list-unstyled;
				margin-bottom: 0;
			}
			&.feedback--invalid {
				color: $danger;
			}
			&.feedback--optional {
				@extend .text-muted;
				font-size: 0.85rem;
			}
		}
		> .help-block {
			@extend .text-muted;
			font-size: 0.85rem;
			line-height: 1.1;
			padding-top: 0.5rem;
			ul {
				margin-bottom: 0;
				padding-left: 1rem;
			}
		}
		> .alert {
			padding: 0.1rem 0.25rem;
			margin-bottom: 0;
		}
		label  {
			.tip {
				@extend .text-muted;
			}
		}
		// file input with thumbnail
		.form-control-wrap:has( .form-control-file ) {
			@include media-breakpoint-up(sm) {
				display: flex;
				align-items: center;
				.img-thumbnail {
					flex-basis: 100px;
					flex-shrink: 0;
					max-width: 100px;
				}
				input[type="checkbox"] {
					margin-right: 1ch;
				}
				input[type="file"] {
					margin-left: 2ch;
				}
			}
			@include media-breakpoint-down(sm) {
				input[type="file"] {
					margin-top: 0.5em;
				}
			}
		}
	}

	// File input with thumbnail and removal link
	.form-control-wrap:has( input[type="file"]  ) {
		display: grid;
		grid-template-columns: 112px 1fr;
		grid-template-rows: 1fr 1fr;

		* {
			grid-column:  2 / 3;
		}

		.img-thumbnail, a:has( .img-thumbnail ) {
			grid-column: 1 / 2;
			grid-row: 1 / -1;
		}

		input.form-control-file, input[type="file"] {
			align-self: start;
			grid-row: 1/2;
		}

		@include media-breakpoint-down(xs) {
			grid-template-columns: 90px 1fr;
			.img-thumbnail {
				max-width: 80px;
			}
		}
	}
}

// File form control styling (loosely adapted from Bootstrap 5)
.form-control-file {
	@extend .form-control;
	&::file-selector-button {
		padding: $input-padding-y $input-padding-x;
		padding: calc(#{$input-padding-y} + #{$input-border-width}) $input-padding-x;
		margin: (-$input-padding-y) (-$input-padding-x);
		margin-inline-end: $input-padding-x;
		color: $input-color;
		border-color: inherit;
		border-style: solid;
		border-width: 0;
		border-inline-end-width: $input-border-width;
		transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
		&:hover:not(:disabled):not([readonly])::file-selector-button {
			background-color: $gray-200;//$form-file-button-hover-bg;
		}
		font-size: inherit;
		line-height: inherit;
		
	}
	body.dark-mode & {
		&::file-selector-button {
			background-color: $gray-700;
			color: white;
			&:hover {
				background-color: $gray-600;
			}
		}
	}
}

// Fix file control styling with Bootstrap 5 .form-control[type="file"] styling
.form-control-file {
	@extend .form-control;
}

// Applies CSS grid to .form-group to create horizontal form.

.form-horizontal, .fieldset-horizontal {
	.form-group {
		@include media-breakpoint-up(md){
			display: grid;
			grid-template-columns: 2fr 6fr 2fr;
			grid-template-rows: auto auto auto;
			grid-template-areas: 
				'label control help'
				'middleleft feedback help'
				'bottomleft instantfeedback help';
			grid-gap: 0 divide($grid-gutter-width, 2);
			margin: 0;
			border-top: 1px solid $gray-200;
			border-top: 1px solid var(--bs-border-color);
		}
		@include media-breakpoint-up(xl){
			grid-template-columns: 2fr 8fr 2fr;
			grid-template-rows: auto auto auto;
			grid-template-areas: 
				'label control help'
				'middleleft feedback help'
				'bottomleft instantfeedback help';
			grid-gap: 0 divide($grid-gutter-width, 2);
		}
		> label {
			padding-top: calc(.375rem + 1px);
			line-height: 1.5;
			grid-area: label;
		}
		> .form-control, .custom-control, > .btn, > .button-container, > .form-control-wrap, > .md-container {
			grid-area: control;
		}
		> ul.list--radios, > ul.list--checkboxes {
			grid-area: control;
		}
		> .feedback {
			grid-area: feedback;
		}
		> .help-block {
			grid-area: help;
			padding-top: 0;
		}
		> .alert {
			grid-area: instantfeedback;
			justify-self: stretch;
		}
		// Two classes added just to get rid of autoprefixer warnings
		> .dummy-111 {
			grid-area: bottomleft;
		}
		> .dummy-222  {
			grid-area: middleleft;
		}
		.button-container {
			display: inline-block;
		}
	}
}

// Lines between form-groups for better readiblity
form {
	.form-group {
		padding: 1rem 0;
	}
}


// Validation states
form {
	.form-group {
		&.form-group--has-error {
			.form-control {
				border: 1px solid $danger;
			}
			label {
				color: $danger;
			}
		}
		&.form-group--is-valid {
			.form-control {
				border: 1px solid $success;
			}
		}
	}
}


// search form
.form-search {
	@extend .form-inline;
	margin-bottom: 1rem;
	input {
		margin-right: 0.5em;
		@include media-breakpoint-down(sm){
			margin-bottom: 0.5rem;
		}
	}
}

// color picker style enhancements
.pickr {
	.pcr-button {
		border: 1px solid $input-border-color;
	}
}
