.has-nav-section {
	.body {
		display: grid;
		grid-template-columns: 200px 1fr;
		grid-template-areas: 'sidebar mainbody';
		grid-gap: $grid-gutter-width;
		.nav-section {
			grid-area: sidebar;
		}
		.content-main {
			grid-area: mainbody;
			border-right: 1px solid $gray-300;
		}
	}
}