.layout-designer {

  .editor-container {
    .layout-designer__row-editor {
      display: block;
      margin-bottom: 10px;
      
      
      
      .row {
        margin: 0;align-items: stretch;
        min-height: 40px;
        background-color: rgba($gray-500, 0.3);
        padding: 2px;
        outline: 1px solid #666;
        display: grid;
        grid-template-columns: repeat( 12, 1fr );
        position: relative;

        @for $i from 1 through 12 {
          .cellspan-#{$i} {
            grid-column: span $i;
          }
        }
        
        > * {
          border: 1px solid $primary;
          padding: 0;
          background-color: white;
          min-height: 40px;
          .cellnumber {
            display: inline-flex;
            justify-content: center;
            align-items: center;
            line-height: 1;
            background-color: #999;
            color: white;
            padding: 0.1em 0.3em;
            border-radius: 7.5px;
            min-width: 15px;
            font-size: 12px;
            font-weight: 900;
            margin-left: 0.3rem;
          }
          .cell-controls {
            display: flex;
            gap:  0.125em;
            align-items: center;
            justify-content: start;
            flex-wrap: wrap;
            .cellbtn {
              color: $primary;
              display: flex;
              padding: 0.2em 0.1em;
              align-items: center;
              justify-content: center;
              line-height: 1;
              cursor: pointer;
            }
          }
        }
        .cellspan-0 {
          display: none; 
        }
      }
    }
  }
}

#layout_designer_modal {
  .modal-dialog {
     width: 100%;
    max-width: 1200px;
  }
}
 
