$sidebarBackground: $gray-100;
$sidebarBorder: 1px solid $border-color;


// Applies CSS Grid for layout w/sidebar
.body-wrap {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	.body {
		flex-grow: 10;
	}
}
.has-nav-section {
	.nav-section, .content-main {
		padding-top: $grid-gutter-width/2;
	}
	.nav-section {
		background-color: $sidebarBackground;
		border-right: $sidebarBorder;
		transition: opacity 1000ms;
		ul.nav {
			li.nav-item {
				a.nav-link {
					border-radius: 0;
					transition: all 0.1s;
					&:not(.active){
						color: desaturate($link-color, 30%);
					}
					&:hover:not(.active) {
						background-color: $gray-600;
						color: white;
						transition: all 0.1s;
					}
				}
			}
		}
		&:has(.sidebar-toggle) {
			padding-top: 0;
		}
	}
	.content-main {
		padding-left: $grid-gutter-width/2;
		padding-right: $grid-gutter-width/2;
		padding-bottom: $grid-gutter-width;
	}
	@include media-breakpoint-up(lg){
		.content-main {
			padding-left: $grid-gutter-width;
			padding-right: $grid-gutter-width;
			padding-top: $grid-gutter-width;
		}	
	}
	@media(min-width:1700px){
		.content-main {
			padding-left: $grid-gutter-width*2;
			padding-right: $grid-gutter-width*2;
			padding-top: $grid-gutter-width*1.5;
		}	
	}
	
	@include media-breakpoint-up(md){
		display: grid;
		grid-template-columns: $nav-section-width 1fr;
		grid-template-areas: 'sidebar mainbody';
		&.with-animation {
			transition: grid-template-columns 200ms;
		}
		.nav-section {
			overflow-x: hidden;
			grid-area: sidebar;
			ul.nav {
				width: $nav-section-width;
				&--sticky {
					position: sticky;
					top: 0;
				}
			}
		}
		.content-main {
			grid-area: mainbody;
		}
	}
	@include media-breakpoint-down(sm){
		.nav-section {
			border-bottom: 1px solid $gray-300;
			padding-bottom: $grid-gutter-width/2;
			margin-bottom: $grid-gutter-width/2;
		}
	}
}

@include media-breakpoint-up(md){
	$collapsedWidth: 35px;
	js--sidebar-toggle {
		&:active, &:focus:not(:focus-visible) {
			box-shadow: none !important;
			outline: none;
		}
	}
	html.sidebar-collapsed {
		.has-nav-section {
			grid-template-columns: $collapsedWidth minmax(0,1fr);
			.nav-section {
				overflow-x: hidden;
				//display: none;
				opacity: 0;
			}
		}
		.sidebar__toggle {
			display: flex !important;
			background-color: $sidebarBackground;
			border-right: $sidebarBorder;
			grid-area: sidebar;
			cursor: pointer;
			width: 100%;//$collapsedWidth;
			height: 100%;
			justify-content: center;
			align-items: start;
			background-color: $gray-200;
			color: $primary;
			/*@include media-breakpoint-down(md) {
				display: none !important;
			}*/
		}
	}
}