// Styling for toast Bootstrap component
// Used in window.UTILS.Notifications

// container for toasts in bottom right viewport corner
.notifications_container {
  position: fixed;
  bottom: 16px;
  right: 60px;
  z-index: $zindex-tooltip;
  &:empty {
    display: none;
  }
}

.toast {
  min-width: 200px;
}

// color variations (success, info etc.)

// set Close button color by text-bg-color
.text-bg-light, .text-bg-warning, .text-bg-info {
  .btn-close {
    //@extend .btn-close-white;
    filter: none;
  }
}
.text-bg-dark, .text-bg-success, .text-bg-danger, .text-bg-primary {
  .btn-close {
    filter: var(--bs-btn-close-white-filter);
  }
}

// error variation would be the same as danger variation
.text-bg-error {
  @extend .text-bg-danger;
}
