.tag_chooser {
  //display: flex;
  outline: 1px dotted purple;
  .tag_container {
    font-size: 1.25rem;
    .tag_item {
      margin: 0.125em;
      display: inline-flex;
      align-items: center;
      line-height: 1;
      .remove_btn {
        padding: 0.125em;
        padding-right: 0.5em;
        margin-left: -0.125em;
        cursor: pointer;
        &:hover {
          color: $danger;
        }
      }
    }
  }
}