//
// Project specific Variables
// --------------------------------------------------

// Max width for .container-fluid
$container-max-width: 1400px;


// Breadcrumbs
$breadcrumb-bg:            $white;
$breadcrumb-padding-x:		 0;
