//
// Atk14Skelet Init styles
//
// (if you are using a custom theme, you can remove this)
//
// ------------------------------------------------------

/*
================================================================
=COMMON
================================================================ */
body {
	padding-bottom: 70px;
}
.content-main h1 {
//	.page-header;
}
.alert {
	margin-top: $spacer;
}


/*
================================
=LAYOUT
================================ */
.has-nav-section .body {
	@include make-row();
}
.header-main {
	margin-bottom: $spacer;
}
.nav-section {
//	.make-sm-column(3);
	@include make-col(3);
	@include media-breakpoint-up(sm) {
		@include make-col-span(3);
	}
}
.has-nav-section .content-main {
//	.make-sm-column(9);
	@include make-col();
	@include media-breakpoint-up(sm) {
		@include make-col-span(9);
	}
}


/*
================================
=LOGO
================================ */
#logo {
	h1, a {
		display: block;
		height: 162px;
		margin: 0;
		background: #000 url( "../images/logo.png" ) no-repeat left;
		text-indent: -999em;
	}
}


/*
================================
=TABLES
================================ */
.table-auto {
	width: auto;
}


/*
================================
=FORMS
================================ */
label {
	font-weight: normal;

	&.label-mce {
		position: relative;
		z-index: 1;
	}
}
.form-group-required label {
	font-weight: bold;
}
.help-error {
//	.help-block;
}
.form-horizontal {
	label {
		@include make-col();
		@include media-breakpoint-up(sm) {
			@include make-col-span(2);
		}
	}
	.form-control, .checkboxes {
		@include make-col();
		@include media-breakpoint-up(sm) {
			@include make-col-span(4);
		}
	}
	.help-block {
		@include make-col();
		@include media-breakpoint-up(sm) {
			@include make-col-span(6);
		}
	}
	.btn {
		@include media-breakpoint-up(sm) {
			@include make-col-offset(2);
		}
	}
	.checkboxes li {
//		@include checkbox();
	}
}
.form-group {
	.popover-title {
		font-weight: bold;
	}
	.popover-content {
		font-style: italic;

		ul {
			margin-bottom: 0;
		}
	}
}


/*
================================================================
=NEWS
================================================================ */

/*
================================
=NEWS/INDEX
================================ */

/*
================================
=NEWS/DETAIL
================================ */
.body_news_detail article header p {
	padding-bottom: 9px;
	border-bottom: 1px dotted #eee;
}
.pager {
	padding-top: 19px;
	border-top: 1px dotted #eee;
}


/*
================================================================
=LOGINS
================================================================ */

/*
================================
=LOGINS/CREATE_NEW
================================ */
#form_logins_create_new {
	max-width: 480px;
}

/*
=====================================================================================
=Sticky footer styles (http://getbootstrap.com/examples/sticky-footer-navbar/)
===================================================================================== */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 80px;
}
.footer {
  position: absolute;
  bottom: 0;
	left: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 80px;
}
