.iobject {
	// At which viewport size non-full-width iobjects expand to full width
	$iObjectWidthBreakpoint: md;
	
	// Default top/bottom spacing for full-width iobjects
	$defaultVMargin: $grid-gutter-width * 2;
	
	// Spacing for non-full-width iobjects
	$floatVMargin: $grid-gutter-width * 2; 
	
	margin: $defaultVMargin 0;
	clear: both;
	
	// caption - title, description
	.iobject__caption {
		margin-top: 0.5rem;
		padding-bottom: 0.5rem;
		border-bottom: 1px solid $border-color;
		font-size: 0.875rem;
		.iobject__title {
			font-weight: 600;
			.iobject__title__separator {
				color: $gray-500;
				font-weight: normal;
			}
		}
		.iobject__description {
			font-style: italic;
		}
	}
	
	&__heading {
		@extend h3;
	}

	// layout props - placement, width 
	
	@include media-breakpoint-up( $iObjectWidthBreakpoint ) {
		&--full_width {
			width: 100%;
		}
		&--half_width {
			width: 50%;
		}
		&--third_width {
			width: 33.33%;
		}
		&--center {
			margin: auto;
		}
		&--left {
			float: left;
			margin: 0 $floatVMargin $floatVMargin 0;
		}
		&--right {
			float: right;
			margin: 0 0 $floatVMargin $floatVMargin;
		}
	}
	
	
	
	// type-specific props
	&--video {
	}
	&--audio {
		audio {
			width: 100%;
		}
	}
	&--picture {
		
		picture {
			display: block;
			source {
				line-height: 0;
				height: 0;
				overflow: hidden;
			}
			img {
				display: block;
			}
		}

		&-fullwidth {
			margin: 0;
			padding: 0;
			figure {
				margin: 0;
				padding: 0;
			}
		}
		
		&-card {
			margin-top: 0 !important;
			background-color: white;
			&:hover {
				background-color: white;
			}
			figure {
				margin: 0;
				height: 100%;
				.image-wrap {
					display: block;
					
					// uncomment only if known fixed image aspect ratio is used
					// in this case 4:3
					/*
					position: relative;
					padding-top: percentage(3/4);
					img {
						position: absolute;
						left: 0;
						top: 0;
					}
					*/
				}
				figcaption.card-body {
					background-color: transparent;
					border-bottom: none;
					margin: 0;
					padding: 1.25rem;
					.card-title {
						margin-bottom: 0.5em;	
					}
					.card-text {
						font-size: 1em;
						font-style: normal;
						//margin-bottom: 1em;
					}
				}
			}
		}
		
		
	}
	&--gallery {
		section.photo-gallery {
			margin: 0;
		}
	}
	&--file {
		border-top: 1px solid $border-color;
		border-bottom: 1px solid $border-color;
		& > a {
			display: flex;
			align-items: center;
			justify-content: space-between;
			padding: 0 0.2em;
			&:hover {
				background-color: $border-color;
				text-decoration: none;
			}
			&:focus {
				outline: none;
			}
		}
		.fileicon {
			padding-right: 0.5em;
			font-size: 1.5em;
		}
		.iobject--file__meta {
			color: $body-color;
			font-size: 0.75rem;
		}
		
		& + & {
			margin-top: 0-$defaultVMargin;
			border-top: none;
		}
	}
	
	@include media-breakpoint-down(sm){
		& > a {
			padding-top: 0.75rem;
			padding-bottom: 0.75rem;
			display: block;
			.fileicon {
				display: block;
			}
			.iobject--file__meta {
				display: block;
			}
		}
	}

	&--contact {
		border: 1px solid $border-color;
		padding: $grid-gutter-width/2;
		background-color: $gray-100;
		
		margin: $grid-gutter-width/2 0;
		
		//max-width: 550px;
		
		display: flex;
		flex-wrap: wrap;
		align-items: stretch;
		
		
		
		.iobject__image {
			img {
				width: 100px;
				height: auto;
				border-radius: 50%;
				border: 1px solid $border-color;
				display: block;
			}
			flex-basis: calc(100px + #{$grid-gutter-width/2});
			flex-shrink: 0;
			margin-bottom: $grid-gutter-width/2;
		}
		.iobject__title {
			line-height: 1.1;
			span {
				display: block;
				font-size: $font-size-sm;
				color: $body-color;
			}
			margin-bottom: 1rem;
		}
		.iobject__body {
			flex-grow: 100;
			flex-shrink: 0;
			min-width: 240px;
			min-height: calc(100% - 115px); // needed to be stretched vertically
			flex-basis: calc(100% - 100px + #{$grid-gutter-width/2});
			
			display: flex;
			flex-direction: column;
			
			.iobject__description {
				flex-grow: 100;
			}
			
			.iobject__body-bottom {
				display: flex;
				align-items: center;
				border-top: 1px solid $border-color;
				padding-top: $grid-gutter-width/2;
				& > div {
					flex-basis: 50%;
				}
			}

			.list--icons {
				text-align: initial;
				@extend .list-unstyled;
				li {
					display: flex;
					.list--icons__icon {
						display: block;
						flex-basis: 3ch;
						flex-grow: 0;
						color: $secondary;
						flex-shrink: 0;
					}
					.list--icons__value {
						display: block;
						line-break: anywhere;
					}
				}
			}

		}
		.iobject__qr-code {
			width: 5cm;
			max-width: 100%;
			height: auto;
		}
		.iobject__footer {
			flex-basis: 100%;
		}
		
		.qr-code-link {
			.icon-down {
				display: inline-block;
				transform: rotate(0);
				transition: transform 0.3s;
				margin-left: 0.5ch;
				font-size: 0.875em;
			}
			&[aria-expanded="true"]{
				.icon-down {
					display: inline-block;
					transform: rotate(180deg);
				}
			}
		}
	}
	
	&--contact-group {
		.iobject__heading {
			margin-bottom: 0 !important;
		}
		.iobject__cards {
			
			display: flex;
			flex-wrap: wrap;
			margin: $grid-gutter-width/2 0-$grid-gutter-width/4;
			& > .iobject--contact {
				flex-basis: calc(33% - #{$grid-gutter-width/2});
				margin: $grid-gutter-width/4;
				//min-width: 280px;
				
				/*&:first-child:last-child {
					flex-basis: 100%;
					flex-grow: 10;
					max-width: 100%;
				}*/

				@media(max-width:700px){
					flex-basis: 50%;
				}
				@media(max-width:600px){
					flex-basis: 100%;
				}
			}
		}
		
	}
	
}

// Photoswipe shows caption extracted from figcaption tag,
// so we must hide unwanted zoom icon in photoswipe view
.pswp__caption {
	.iobject--picture__link, .iobject__title__separator {
		display: none;
	}
	.iobject__title {
		font-weight: 600;
	}
}

// Picture iObjects in a table
// Removes excessive margins and borders
table.table {
	tr, tbody tr {
		td, th {
			.iobject--picture {
				///outline: 1px dashed red;
				margin: 0;
				figure {
					margin: 0;
					///outline: 1px dotted blue;
					figcaption {
						border-bottom: none;
						margin-bottom: 0;
						padding-bottom: 0;
					}
				}
			}
		}
	}
}

