// Applies CSS Grid for layout w/sidebar

.has-nav-section {
	.body {
		@include media-breakpoint-up(md){
			display: grid;
			grid-template-columns: 230px 1fr;
			grid-template-areas: 'sidebar mainbody';
			grid-gap: $grid-gutter-width/2;
			.nav-section {
				grid-area: sidebar;
				border-right: 1px solid $gray-300;
				padding-right: $grid-gutter-width/2;
			}
			.content-main {
				grid-area: mainbody;
			}
		}
		@include media-breakpoint-down(sm){
			.nav-section {
				border-bottom: 1px solid $gray-300;
				padding-bottom: $grid-gutter-width/2;
				margin-bottom: $grid-gutter-width/2;
			}
		}
	}
}

footer {
	margin-top: $grid-gutter-width*2;
}

section {
	margin-bottom: $grid-gutter-width * 2;
	padding-top: 1rem;
	border-top: 1px solid $gray-300;
}

header {
	margin-bottom: $grid-gutter-width * 2;
	padding-top: 1rem;
}
