ul.list--checkboxes {
	list-style: none;
	padding-left: 0;
	columns: 5;
	li.list__item {
	}
	@include media-breakpoint-down(lg){
		columns: 4;
	}
	@include media-breakpoint-down(md){
		columns: 3;
	}
	@include media-breakpoint-down(sm){
		columns: 2;
	}
	@include media-breakpoint-down(xs){
		columns: 1;
	}
}

// prosty UL/OL list bez jakekoliv tridy uvnitr clanku nebo .list--simple
.article__body ul:not([class]), .page__body ul:not([class]), ul.list--simple, ul.list--ul {
	padding-left: 1.25em;
	list-style: none;
	margin-bottom: $grid-gutter-width;
	> li {
		margin-bottom: 0.75em;
		position: relative;
		&:before {
			content: "\2022";
			position: absolute;
			left: 0.25em;
			top: 0;
			color: $primary;
			font-weight: bold;
			display: inline-block;
			width: 1.5em;
			margin-left: -1.5em;
		}

		ul:not([class]){
			margin-top: 0.75em;
			margin-bottom: 0;
			> li {
				&:before {
					content: "\2012";
				}
			}
		}
	}
}

.article__body ol:not([class]), .page__body ol:not([class]), ol.list--simple, ul.list--ol {
	padding-left: 1.75em;
	list-style: none;
	margin-bottom: $grid-gutter-width;
	counter-reset: ol-counter 0;
	> li {
		//clear: both;
		counter-increment: ol-counter;
		margin-bottom: 0.75em;
		position: relative;
		&:before {
			content: counter(ol-counter)".";
			position: absolute;
			left: 0em;
			top: 0;
			color: $primary;
			display: inline-block;
			width: 1.5em;
			margin-left: -1.5em;
			font-weight: bold;
		}

		ol:not([class]){
			margin-top: 0.75em;
			margin-bottom: 0;
			& > li {
				&:before {
					content: counter(ol-counter, lower-alpha)".";
				}
			}
		}
	}
}

.list--icons {
	text-align: initial;
	@extend .list-unstyled;
	li {
		display: flex;
		.list--icons__icon {
			display: block;
			flex-basis: 3ch;
			flex-grow: 0;
			color: $secondary;
			flex-shrink: 0;
		}
		.list--icons__value {
			display: block;
			line-break: anywhere;
		}
	}
}
