// Styles for shortcodes 

.col--shortcode > .iobject {
	margin-top: 0;
}

// Vertical borders for row--shortcode
.row--shortcode {
	&.row--borders {
		// all columns except the first one have border-left on sm+ viewport
		.col--shortcode:first-child ~ .col--shortcode {
			@include media-breakpoint-up(xs) {
				border-left: 1px solid $border-color;
			}
		}
	}
}

// Collapse shortcode
.collapse--shortcode {
	margin-bottom: $grid-gutter-width;
	.collapse_title--shortcode {
		margin-bottom: $grid-gutter-width;
		p:last-child {
			margin-bottom: 0;
		}
	}
	.collapse_content--shortcode {
		
	}
}
