// To allow to redefine variables in application-variables,
// first we need to load functions and variables from bootstrap package.

@import "node_modules/bootstrap/scss/functions";

// We may overrdide Bootstrap variables here 
// (before loading bootstrap_variables) like this:
// $primary: deeppink;
// or directly in _bootstrap_variables.scss

// Bootstrap variables
@import "bootstrap_variables"; // in the local copy of the vendor defaults, some variables may be overwritten if necessary

// Application specific variables, overrides bootstrap vars.
@import "application_variables";

// Bootstrap
@import "bootstrap";

// Other SCSS
@import "layout";

@import "alerts";

@import "admin-object-menu";

@import "articles";

@import "cards";

@import "list-tree";

@import "nav-login";

@import "header";

//@import "forms";  //bs5 incompatible

@import "tables";

@import "slider";

@import "shortcodes";

@import "iobjects";

@import "image_gallery";

@import "content_tabs";

@import "shared/clearfix";
@import "shared/loading";
@import "shared/buttons";
@import "shared/js_utils";
@import "shared/fileicons";
@import "shared/mark";
