html.js {
  
  input[type="password"], input[type="text"].password {
    outline: 1.5mm dotted palegreen;
    margin: 20px;
    /*position: relative;
    &::before {
      position: absolute;
      display: flex;
      justify-content: center;
      align-items: center;
      right: 0;
      top: 0;
      height: 40px;//100%;
      width: 4ch;
      background-color: rgba(hotpink,0.7);
      content: "x";
    }*/
  }
  
  .password-input-container {
    outline: 1px solid red;
    display: inline-block;
    position: relative;
    .password-reveal-button {
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      //right: 0;
      top: 0;
      width: 4ch;
      height: 100%;
      border: 1px dashed blue;
      cursor: pointer;
    }
  }

}