html.js {
  
  input.input--password {
    padding-right: 4ch;
  }
  
  .password-input-container {
    .password-reveal-button {
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      top: 0;
      width: 4ch;
      height: 100%;
      cursor: pointer;
      .password-reveal-button__hidden {
        display: inline-block;
      }
      .password-reveal-button__visible {
        display: none;
      }
      &.revealed {
        .password-reveal-button__hidden {
          display: none;
        }
        .password-reveal-button__visible {
          display: inline-block;
        }
      }
    }
  }

}